@{
    ViewBag.Title = "O aplikaciji";
}
<div class="jumbotron" style="background-color: #dddddd">
    <h3>Sadržaj</h3>
    <ul class="h4">
        <li><a href="#struct" class="navbar-link">Struktura aplikacije</a></li>
        <li><a href="#how" class="navbar-link">Na koji način se koristi aplikacija?</a></li>
        <li><a href="#additional" class="navbar-link">Dodatne informacije o aplikaciji</a></li>
    </ul>
</div>
<div class="jumbotron" style="background-color: #dddddd">
    <h3 class="text-center" id="struct">Struktura aplikacije</h3>
    <i>Book Worm</i> je podeljen na tri glavna segmenta: <i>knjige</i>, <i>autori</i> i <i>izdavači</i>.<br />
    Na stranici <b>Knjige</b> možete videti listu svih knjiga koje posedujete, odnosno koje ste uneli u aplikaciju,
    kao i podatke o njima. Podaci koje možete videti o knjzi su:<br />
    <ul>
        <li>naslov knjige</li>
        <li>autor knjige</li>
        <li>izdavač knjige</li>
        <li>godina izdanja knjige</li>
        <li>žanr kom knjiga pripada</li>
        <li>jezik na kom je knjiga napisana</li>
        <li>da li je knjiga pročitana ili ne</li>
    </ul><br />
    Na ovoj stranici imate i opciju da dodate novu knjigu, izmenite ili obrišete postojeću,
    kao i da pogledate detaljnije informacije o odabranoj knjizi.<br />
    Na stranici <b>Autori</b> možete videti listu svih autora koje posedujete, odnosno koje ste uneli u aplikaciju,
    kao i podatke o njima. Podaci koje možete videti su:
    <ul>
        <li>ime autora</li>
        <li>država porekla autora</li>
    </ul><br />
    Na ovoj stranici imate i opciju da dodate novog autora, kao i da vidite detealjnije informacije o odabranom autoru.<br />
    Na stranici <b>Izdavači</b> možete videti listu svih izdavača koje posedujete, odnosno koje ste uneli u aplikaciju,
    kao i podatke o njima. Podaci koje možete videti su:
    <ul>
        <li>naziv izdavača</li>
        <li>država izdavača</li>
    </ul><br />
    Na ovoj stranici imate i opciju da dodate novog izdavača, kao i da vidite detealjnije informacije o odabranom izdavaču.<br /><br />
    <a href="#top" style="position: center" class="navbar-link"><b>Nazad na početak strane</b></a>
</div>
<div class="jumbotron" style="background-color: #dddddd">
    <h3 class="text-center" id="how">Na koji način se koristi aplikacija?</h3>
    Ukoliko želite da dodate novu knjigu u svoju biblioteku,
    prethodno bi trebalo da dodate novog autora te knjige, ukoliko takav ne postoji u bazi,
    kao i novog izdavača te knjige, ukoliko takav ne postoji.<br />
    Ovo radite na stranicama <b>Autori</b> i <b>Izdavači</b>, respektivno.<br />
    Nakon toga možete dodati novu knjigu i odabrati autora i izdavača iz liste postojećih opcija.<br /><br />
    <a href="#top" style="position: center" class="navbar-link"><b>Nazad na početak strane</b></a>
</div>
<div class="jumbotron" style="background-color: #dddddd">
    <h3 class="text-center" id="additional">Dodatne informacije o aplikaciji</h3>
    <i>Book Worm</i> je web aplikacija kreirana u ASP.NET MVC tehnologiji koja koristi Microsoft SQL Server bazu podataka.<br />
    Aplikacija je stalno u fazi razvoja i nadogradnje, tako da bi svaka sugestija i pomoć bila dobrodošla.
    Više informacija o samoj aplikaciji i njenom razvoju možete dobiti putem mejla ili nekog drugog vida komunikacije.<br />
    Kontakt podaci se nalaze na <b>Kontakt</b> strani.<br /><br />
    <a href="#top" style="position: center" class="navbar-link"><b>Nazad na početak strane</b></a>
</div>

