@{
    ViewBag.Title = "Kontakt";
}
<div class="jumbotron" style="background-color: #dddddd">
    <h2>Kontakt podaci</h2>

    <address>
        <strong>Telefon: </strong> (+381) 63 8932536
    </address>

    <address>
        <strong>E-mail:</strong>   <a href="mailto:darko.mijatov95@gmail.com" class="navbar-link">darko.mijatov95@gmail.com</a>
    </address>
</div>
