@{
    ViewBag.Title = "Početna strana";
}

<div class="jumbotron" style="background-image: url('././Content/cover.jpg'); color: #ffffff">
    <h1>Book Worm</h1>
    <p class="lead"><b>Book Worm</b> je web aplikacija namenjena svim ljubiteljima knjiga za bolju organizaciju lične biblioteke.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kako se koristi aplikacija?</h2>
        <p>
            Korišćenje aplikacije je prilično jednostavno. Sve što treba da znate se nalazi na odeljku <i>O aplikaciji</i>. 
        </p>
        <p><a class="btn btn-default" href="./Home/About">Saznajte više &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zbog čega je korisna?</h2>
        <p>Ova aplikacija Vam pomaže da vodite evidenciju o knjigama koje posedujete, pročitanim i nepročitanim.
        Više se neće dešavati da kupite neku knjigu više puta, ili da je pročitate više puta ukoliko to ne želite.</p>
    </div>
    <div class="col-md-4">
        <h2>Gde prijaviti problem?</h2>
        <p>Sva pitanja, sugestije i probleme možete prijaviti kontaktiranjem našeg razvojnog tima.
        Više informacija o tome se nalazi na odeljku <i>Kontakt</i>.</p>
        <p><a class="btn btn-default" href="./Home/Contact">Saznajte više &raquo;</a></p>
    </div>
</div>